<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>

    <Properties>
        <Property name="TestName">NoName</Property>
    </Properties>

    <Appenders>
        <RollingFile name="testlog"
                     fileName="${sys:test.logs.dir}/notifications_test.log"
                     filePattern="${sys:test.logs.dir}/$${date:yyyy-MM}/notifications_test%d{-yyyy-MMMM-dd-HH}-%i.log.gz">
            <ThresholdFilter level="DEBUG"/>
            <PatternLayout>
                <Pattern>%d{ISO8601,Europe/Zagreb} %c %-5p [%t]: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="sql"
                     fileName="${sys:test.logs.dir}/sql_test.log"
                     filePattern="${sys:test.logs.dir}/$${date:yyyy-MM}/sql_test%d{-yyyy-MMMM-dd-HH}-%i.log.gz">
            <ThresholdFilter level="DEBUG"/>
            <PatternLayout>
                <Pattern>%d{ISO8601,Europe/Zagreb} %c %-5p [%t]: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="test" additivity="false" level="trace">
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="Deprecation" additivity="false" level="trace">
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="org.hibernate" additivity="false" level="info">
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="org.hibernate.tool.hbm2ddl" additivity="false" level="debug"> <!-- WAS trace -->
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="org.hibernate.tool.schema.internal" additivity="false" level="debug"> <!-- WAS trace -->
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="net.biberius" additivity="false" level="debug">
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="org" additivity="false" level="warn">
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="org.springframework.test" additivity="false" level="info">   <!-- WAS trace -->
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="org.springframework" additivity="false" level="info"> <!-- WAS debug -->
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="org.easymock" additivity="false" level="trace">
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="net.sf.ehcache" additivity="false" level="info">
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="hsqldb" additivity="false" level="info">
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="com.gargoylesoftware" additivity="false" level="info">
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="com.fasterxml.jackson" additivity="false" level="debug">
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="org.apache.http.impl.client" additivity="false" level="info">
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="org.apache.http.headers" additivity="false" level="info">
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="org.hibernate.boot.model.source.internal.hbm.AttributesHelper" additivity="false" level="info">   <!-- WAS trace -->
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="org.springframework.test.context.cache" additivity="false" level="info">  <!-- WAS trace -->
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="net.biberius.spring.jdbc.datasource.init" additivity="false" level="info">
            <appender-ref ref="testlog"/>
        </Logger>

        <Logger name="SQL" additivity="false" level="debug">
            <appender-ref ref="sql"/>
        </Logger>

        <Logger name="org.hibernate.SQL" additivity="false" level="debug">
            <appender-ref ref="sql"/>
        </Logger>

        <Logger additivity="false" level="info" name="net.ttddyy.dsproxy.listener.logging">
            <AppenderRef ref="sql" />
        </Logger>
    </Loggers>
</Configuration>
